:root {
  background: #e3edfb;

  --color-icon: #0b3a67;

  --image-width: 8rem;
  --card-padding: 1rem;

  --font-heading: 1.75rem;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

/* Begynd her... */
article {
  max-width: 580px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: var(--card-padding);

  img {
    width: var(--image-width);
    border-radius: 100rem;
    margin: auto;
  }

  h1 {
    font-size: var(--font-heading);
    font-weight: 700;
  }

  p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #2dac99;
    padding-top: 0.3rem;
  }

  .icons {
    display: flex;
    gap: 2rem;
    color: var(--color-icon);
    margin-block: 1rem;
    max-width: 250px;
    padding-right: 3rem;
  }
}
